#usuario > .top-group {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 15px;
	height: 30px;
}

#usuario > .top-group > .info {
	font-size: 1.2rem;
}
