#menu {
	font-size: 1.2rem;
	padding: 6px;
}

#menu div.dropdown-menu > a {
	font-size: 1.2rem;
}

#menu div.dropdown-menu > a:focus {
	background-color: #fff;
}

#menu div.dropdown-menu > a:hover {
	background-color: rgba(221, 221, 238, 0.3);
}

#menu div.dropdown-menu > a:active {
	background-color: rgba(221, 221, 238, 0.3);
}

#menu div.dropdown-menu > a.disabled {
	color: #ddd;
}

#menu .dropdown-header {
	color: #ddd;
	font-size: 1rem;
	font-style: italic;
}

#menu .dropdown-toggle.submenu {
	background-color: #bcd;
	font-size: 1.2rem;
	border-width: 1px 0;
	border-style: dotted;
	border-color: #dee2e6;
	border-radius: 0;
	margin: 3px 0;
	padding-left: 14px;
}

#menu .dropdown-toggle.submenu[aria-expanded="true"] {
	background-color: #fff;
}
