#menu {
	font-size: 15px;
	padding: 8px;
}

#menu button {
	font-size: 15px;
	cursor: default;
}

#menu button:focus {
	background-color: #fff;
}

#menu button:hover {
	background-color: #def;
}

#menu button:active {
	background-color: #def;
}

#menu button.disabled {
	color: #ddd;
}

#menu .dropdown-toggle.submenu {
	border-width: 1px 0px;
	border-style: dotted;
	border-color: #eee;
	border-radius: 0px;
	font-size: 15px;
	padding-left: 14px;
	background-color: #bcd;
	margin-bottom: -2px;
}

#menu .dropdown-toggle.submenu[aria-expanded="true"] {
	background-color: #fff;
}
