#menu {
	font-size: 1.2rem;
	padding: 8px;
}

#menu button {
	font-size: 1.2rem;
	cursor: default;
}

#menu button:focus {
	background-color: #fff;
}

#menu button:hover {
	background-color: rgba(221, 221, 238, 0.3);
}

#menu button:active {
	background-color: rgba(221, 221, 238, 0.3);
}

#menu button.disabled a {
	color: #ddd;
}

#menu .dropdown-header {
	font-size: 1rem;
	font-style: italic;
	color: #ddd;
}

#menu .dropdown-toggle.submenu {
	font-size: 1.2rem;
	border-width: 1px 0px;
	border-style: dotted;
	border-color: #dee2e6;
	border-radius: 0px;
	padding-left: 14px;
	background-color: #bcd;
	margin-bottom: -1px;
}

#menu .dropdown-toggle.submenu[aria-expanded="true"] {
	background-color: #fff;
}
