#logged {
	position: relative;
	height: 60px;
	float: right;
}

#logged #loggedUser {
	font: 10px B612, Arial, Helvetica, san-serif;
	letter-spacing: 1px;
	color: #000;
	background-color: #fff;
	border: 1px #aaa solid;
	border-radius: 5px;
	margin: 8px 0px; /* Define centro do cabecalho */
	padding: 7px 21px; /* Define centro do cabecalho */
}

#logged .inline {
	float: left;
}

#logged button {
	margin: 15px 8px; /* Define centro do cabecalho e distancia dos elementos */
}
