#home .main-content {
	font-size: 32px;
	background-color: #edd;
	text-align: center;
	border: 1px solid #aaa;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ddd;
	padding: 20px;
	white-space: nowrap;
	animation: fadein 2s;
}

#home .main-content .description {
	font-size: 16px;
	font-style: italic;
	white-space: normal;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
