.input-pass .input-group-text {
	cursor: pointer;
	width: 40px;
	transition: all 0.4s ease 0s;
}

.input-pass .input-group-text > i {
	margin: auto;
}

.input-pass .input-group-text:hover {
	box-shadow: 0 2px 4px rgba(150, 150, 150, 0.6);
}
