@import "./bootstrap.min.css";
@import "./all.min.css";

@import url(https://fonts.googleapis.com/css?family=B612);

html, body {
	width: 100%;
	height: 100%;
}

body {
	font: 12px B612, Arial, Helvetica, san-serif;
	color: #000;
	background-color: #eee;
	text-align: center;
	outline: 0px;
	margin: 0px;
	padding: 0px 5px;
}

#root {
	position: relative;
	width: 100%;
	max-width: 1360px;
	margin: auto;
	background-color: #fff;
	min-height: 100%;
	border-width: 0px 1px;
	border-style: solid;
	border-color: #aaa;
	padding-top: 5px;
	padding-bottom: 65px; /* Deve sobrepor altura do rodape */
}

#wrapper {
	margin: 0px 10px;
	padding: 5px 0px;
	text-align: justify;
}

/* image */
img {
	border: 0px;
}

/* link */
a[type="button"] {
	margin-bottom: 1px;
}

a:not([type="button"]):link {
	color: #69c;
}

a:not([type="button"]):visited {
	color: #69c;
}

a:not([type="button"]):hover {
	color: red;
}

a:not([type="button"]):active {
	color: #69c;
}

/* alteracoes layout padrao bootstrap */
input:focus {
	outline: none;
}

.form-check > .form-check-label {
	line-height: 24px;
}

button {
	margin-bottom: 1px;
}

button:focus {
	outline: none;
}

button.btn-link {
	padding: 0px;
}

div.tooltip {
	font-size: 11px;
}
