@import "./bootstrap.min.css";
@import "./all.min.css";

@import url(https://fonts.googleapis.com/css?family=B612);
@import url(https://fonts.googleapis.com/css?family=Cairo);
@import url(https://fonts.googleapis.com/css?family=Rakkas);

html, body {
	width: 100%;
	height: 100%;
}

body {
	font: 12px B612, Arial, Helvetica, san-serif;
	background-color: #6cc;
	text-align: center;
	outline: 0px;
	margin: 0px;
	padding: 0px 5px;
}

#root {
	position: relative;
	background-color: #fff;
	width: 100%;
	max-width: 1380px;
	min-height: 100%;
	border-width: 0px 1px;
	border-style: solid;
	border-color: #aaa;
	padding-top: 5px;
	padding-bottom: 60px; /* Deve sobrepor altura do rodape */
	margin: auto;
}

#wrapper {
	margin: 0px 10px;
	padding: 5px 0px;
}

#controller {
	text-align: justify;
}

div.main-content {
	width: max-content;
	max-width: 100%;
	margin: auto;
}

img {
	border: 0px;
}
