@import "./bootstrap.min.css";
@import "./all.min.css";

@import url(https://fonts.googleapis.com/css?family=B612);

html, body {
	width: 100%;
	height: 100%;
}

body {
	font: 12px B612, 'Segoe UI', Verdana, Arial, Helvetica;
	color: #000;
	background-color: #eee;
	text-align: center;
	outline: 0px;
	margin: 0px;
	padding: 0px 5px;
}

#root {
	position: relative;
	width: 100%;
	max-width: 1680px;
	margin: auto;
	background-color: #fff;
	min-height: 100%;
	border-width: 0px 1px;
	border-style: solid;
	border-color: #aaa;
	padding-top: 5px;
	padding-bottom: 65px; /* Deve sobrepor altura do rodape */
}

#wrapper {
	margin: 0px 10px;
	padding: 5px 0px;
	text-align: justify;
}

/* image */
img {
	border: 0px;
}

/* link */
a[type="button"] {
	margin-bottom: 1px;
}

a:not([type="button"]):link, button.btn-link {
	color: #07d;
}

a:not([type="button"]):visited, button.btn-link:visited {
	color: #07d;
}

a:not([type="button"]):hover, button.btn-link:hover {
	color: red;
}

a:not([type="button"]):active, button.btn-link:active {
	color: #fff;
}

/* alteracoes layout padrao bootstrap */
*[tabindex]:focus, button:focus {
	outline: none;
}

button.btn-link:focus {
	box-shadow: none;
}

.form-check > .form-check-label {
	line-height: 24px;
}

/* apenas para casos onde form-text (reactstrap FormText) logo apos form-group */
.form-text.outside-group {
	margin-top: -12px;
	margin-bottom: 16px;
}

button {
	margin-bottom: 1px;
}

button.btn-link {
	padding: 0px;
}

div.tooltip {
	font-size: 11px;
}

input.form-control, select.form-control, textarea.form-control {
	font-size: 14px;
	color: #333;
}

input.form-control:focus, select.form-control:focus, textarea.form-control:focus {
	color: #000;
	background-color: rgba(221, 221, 238, 0.3);
}
