/* Searcher auto-complete */
.select-input > input[type="text"] {
	padding-left: 13px;
	text-transform: uppercase;
}

.select-input > input[type="text"]::placeholder {
	text-transform: initial;
}

.select-input > input[type="text"].enabled:read-only {
	cursor: pointer;
}

.select-input > input[type="text"].disabled {
	background-color: #e9ecef;
	pointer-events: none;
	cursor: default;
}

.select-input > i.fa-times {
	position: absolute;
	top: 0;
	right: 40px;
	z-index: 3;
	color: #ccc;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
	display: none;
}

.select-input > i.fa-times.show {
	display: block;
}

.select-input .input-group-text {
	width: 40px;
}

.select-input .input-group-text.enabled {
	cursor: pointer;
}

.select-input .input-group-text.disabled {
	pointer-events: none;
	cursor: default;
}

.select-input .input-group-text > i {
	margin: auto;
}

.select-input .input-group-text:hover {
	box-shadow: 0 2px 4px rgba(223, 223, 223, 0.6);
}

.select-input > .input-box-data {
	position: absolute;
	top: 33px;
	left: 0;
	text-align: left;
	z-index: 4;
	width: 100%;
	padding: 4px 6px;
	border: 1px #888 solid;
	background-color: #fff;
	max-height: 30vh;
	overflow-x: hidden;
	overflow-y: auto;
	user-select: none;
	display: none;
}

.select-input > .input-box-data.show {
	display: block;
}

.select-input > .input-box-data > div {
	display: flex;
	align-items: center;
	padding: 4px 8px;
}

.select-input > .input-box-data > div.option-found.selected {
	background-color: #0088ff40;
	border-radius: 4px;
}

.select-input > .input-box-data > div.option-found:hover {
	cursor: pointer;
	color: #fff;
	background-color: #08f;
	border-radius: 4px;
}

.select-input > .input-box-data > div.option-found > img {
	border: 0;
	margin-right: 4px;
}

.select-input > .input-box-data > div.option-not-found {
	color: red;
	font-size: 1rem;
	font-style: italic;
	text-align: center;
}
