#main-content {
	max-width: 100%;
	margin: auto;
}

/* um ou outro */
#main-content.main-content-fixed {
	width: 1366px;
}

#main-content.main-content-max-content {
	width: max-content;
}
/* um ou outro */
