#home {
	background-color: #edd;
	font-size: 3rem;
	text-align: center;
	border: 1px solid #aaa;
	border-radius: 12px;
	box-shadow: 0 2px 4px rgba(223, 223, 223, 0.6);
	padding: 20px;
	white-space: nowrap;
	animation: fadein 2s;
}

#home .description {
	font-size: 1.2rem;
	font-style: italic;
	white-space: normal;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
