.pagination-main {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.pagination-main .pagination {
	font-size: 0.7rem;
	margin-bottom: 0;
}

.pagination-main .pagination > .break {
	display: flex;
	align-items: center;
	padding: 0 5px;
}

.pagination-main .pagination > .active > a {
	background-color: #07d;
	color: #fff;
	border: 1px solid #07d;
}

.pagination-main .pagination-select {
	width: 170px;
	color: #07d;
	font-size: 0.9rem;
	border-color: #dee2e6;
}

.pagination-main .pagination-select:hover {
	background-color: #e9ecef;
	cursor: pointer;
}

.pagination-text {
	font-size: 0.9rem;
	text-align: center;
	margin-top: 10px;
}
