.pagination-main {
	display: flex;
	flex-wrap: wrap;
}

.pagination {
	margin-bottom: 0px;
	font: 8px Helvetica;
}

.pagination > .active > a {
	color: #fff !important;
	background-color: #69c !important;
	border: 1px solid #69c !important;
}

.pagination-select {
	color: #69c !important;
	font: 12px Helvetica !important;
	width: 170px !important;
	border-color: #dee2e6 !important;
}

.pagination-select:hover {
	background-color: #eee;
	cursor: pointer;
}

.pagination-text {
	margin-top: 10px;
	font-size: 10px;
	text-align: center;
}
