.pagination-main {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.pagination-main .pagination {
	margin-bottom: 0px;
	font: 8px Helvetica;
}

.pagination-main .pagination > .break {
	display: flex;
	align-items: center;
	padding: 0px 5px;
}

.pagination-main .pagination > .active > a {
	color: #fff;
	background-color: #07d;
	border: 1px solid #07d;
}

.pagination-main .pagination-select {
	color: #07d;
	font: 12px Helvetica;
	width: 170px;
	border-color: #dee2e6;
}

.pagination-main .pagination-select:hover {
	background-color: #e9ecef;
	cursor: pointer;
}

.pagination-text {
	margin-top: 10px;
	font-size: 10px;
	text-align: center;
}
