table.grid-table {
	border: 1px solid #dee2e6;
	border-collapse: separate;
	border-radius: 4px;
	margin-bottom: 0;
}

table.grid-table.table-hover tr:hover {
	background-color: rgba(221, 221, 238, 0.3);
}

table.grid-table tr.spacer td {
	border: 0;
	padding: 0 !important;
}

table.grid-table tr.spacer td hr.spacer-top {
	border-color: #dde;
	margin-top: 0;
}

table.grid-table tr.spacer td hr.spacer-bottom {
	border-color: #dde;
	margin-bottom: 0;
}

table.grid-table th {
	text-align: center;
	text-transform: uppercase;
	border: 1px solid #dee2e6;
	border-radius: 4px;
	white-space: nowrap;
}

table.grid-table:not(.table-dark) th {
	background-color: #dde;
}

table.grid-table td, th {
	padding: 10px 20px !important;
	vertical-align: middle;
}

table.grid-table td.not-found {
	color: red;
	font-style: italic;
	text-align: center;
	letter-spacing: 1px;
}

table.grid-table td.td-center {
	text-align: center;
}

table.grid-table td.td-right {
	text-align: right;
}

table.grid-table tfoot td {
	font-size: 0.9rem;
	text-align: center;
	height: 36px;
}

table.grid-table:not(.table-dark) tfoot td {
	background: #dde;
}

table.grid-table .btn-group {
	display: flex;
}

table.grid-table .btn-group button {
	flex: 1 1 0;
}

table.grid-table .array-data {
	margin: 0 5px;
}

table.grid-table .badge {
	font-size: inherit;
	margin: 1px 5px;
	padding: 4px 6px;
}
