#not-found {
	text-align: center;
}

#not-found .info {
	color: red;
	font-size: 80px;
}

#not-found .info .img-not-found {
	width: 120px;
	max-width: 100%;
}

#not-found .description {
	font-size: 22px;
}
