#not-found .main-content {
	text-align: center;
}

#not-found .main-content .info {
	color: red;
	font-size: 80px;
}

#not-found .main-content .info .img-not-found {
	width: 120px;
	max-width: 100%;
}

#not-found .main-content .description {
	font-size: 22px;
}
