#header {
	border: 1px solid #aaa;
	border-radius: 4px;
	margin: 0px 5px;
}

#header .navbar-local {
	background-color: #bcd;
	padding: 0px;
	font-size: 16px;
}

#header .navbar-local .color-brand {
	color: #000;
}

#header .navbar-local .img-logo {
	animation: app-logo-spin infinite 20s linear;
	height: 50px;
	margin-left: 8px;
}

@keyframes app-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
