@import url(https://fonts.googleapis.com/css?family=B612);

#logged {
	position: relative;
	height: 60px;
	white-space: nowrap;
	float: right;
}

#logged .logged-user {
	font: 10px B612, Arial, Helvetica, san-serif;
	letter-spacing: 1px;
	color: #000;
	background-color: #fff;
	border: 1px #aaa solid;
	border-radius: 4px;
	margin: 11px 0px; /* Define centro do cabecalho */
	padding: 4px 21px; /* Define centro do cabecalho */
	display: inline-block;
	vertical-align: middle;
}

#logged button {
	margin: 0px 8px; /* Define centro do cabecalho e distancia dos elementos */
}
