span.form-feedback {
	color: red;
	text-align: left;
	padding: 4px 12px;
	border: 1px solid #dc3545;
	border-radius: 4px;
	background-color: #fffcfc;
}

input:not([type="radio"]):not([type="checkbox"]).is-invalid-element, select.is-invalid-element, textarea.is-invalid-element {
	border-width: 1px 1px 0px 1px;
	border-style: solid;
	border-color: #dc3545;
	border-radius: 4px;
}

.is-invalid-group {
	color: #dc3545;
}
