.modal-window .modal-header-local {
	background-color: #bcd;
	padding: 8px !important;
}

.modal-window .modal-title {
	font-size: 1rem;
}

.modal-window .modal-body-local {
	text-align: justify;
	max-height: calc(100vh - 160px);
	overflow-y: auto;
}

.modal-window .modal-footer-local {
	background-color: #bcd;
	padding: 8px !important;
}
