.data-action {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1999;
	background-color: rgba(250, 250, 250, 0.3);
	color: #333;
	display: none;
}

.data-action > .data-action-box {
	position: fixed;
	top: 50%;
	left: 50%;
	border: 1px solid #aaa;
	border-radius: 12px;
	padding: 24px 36px;
	box-shadow: 0 2px 4px rgba(150, 150, 150, 0.6);
	background-color: rgba(255, 255, 255, 0.9);
	transform: translate(-50%, -50%);
	font-size: 1rem;
}

.data-action > .data-action-box:hover {
	background-color: #fff;
}

.data-action > .data-action-box > .header {
	color: green;
	font-weight: bold;
	text-align: left;
}

.data-action > .data-action-box > .body > i {
	color: green;
	font-size: 3.0rem;
	margin-bottom: 12px;
}
