.multiple {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}

.multiple select {
	width: 170px;
	overflow-x: hidden;
	overflow-y: auto;
}

.multiple select > option:disabled {
	font-style: italic;
	color: #ddd;
}

.multiple .multiple-buttons {
	margin: 6px;
}
