.multiple {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	padding: 6px 12px;
}

.multiple select {
	width: 180px;
	overflow: hidden;
}

.multiple select > option:disabled {
	font-style: italic;
	color: rgba(170, 170, 170, 0.4);
}

.multiple .multiple-buttons {
	margin: 6px;
}
